<div id="application" class="page">
    <div class="divided title">
        Application
    </div>

    <div class="ui stackable page grid">
        <div class="column">
            <div class="ui form" ng-class="{'loading': loading}">
                <p>Hi! Thanks for applying to join us at <strong>McDonogh Hacks I</strong>, McDonogh School's first
                    open
                    hackathon!</p>
                <p>Because our space is limited, we will need to know a little bit more about you for you to join us on
                    November 10. In order for us to get a better hold of who you are, please make sure your response is
                    as
                    thorough and
                    detailed as possible!</p>
                <p>Good luck, and we're looking forward to reading your application!</p>
                <p><i>* All fields are mandatory unless otherwise noted.</i></p>
                <br />
                <div class="divided title">Basic Information</div>

                <fieldset ng-disabled="regIsClosed">

                    <div class="field">
                        <label> Email </label>
                        <input type="email" name="email" disabled="disabled" ng-model="user.email">
                    </div>

                    <div class="field">
                        <label> Full Name </label>
                        <input type="text" name="name" ng-model="user.profile.name">
                    </div>

                    <div class="field" ng-show="autoFilledSchool">
                        <label> School </label>
                        <input class="ui input" disabled="disabled" ng-show="autoFilledSchool" ng-model="user.profile.school">
                    </div>

                    <div class="field" ng-show="!autoFilledSchool">
                        <label> School </label>
                        <div id="school" class="ui search">
                            <div class="ui input">
                                <input class="prompt" type="text" placeholder="School" name="school" ng-model="user.profile.school">
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>

                    <div class="field">
                        <label>Graduation Year</label>
                        <select name="year" ng-model="user.profile.graduationYear">
                            <option value="" disabled>Graduation Year</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                        </select>
                    </div>

                    <!-- Demographic Information -->

                    <br />
                    <div class="divided title">Demographic Information</div>

                    <div class="ui grid">
                        <div class="two column row">
                            <div class="column">
                                <div class="field">
                                    <label> City of Residence </label>
                                    <input type="text" name="city" ng-model="user.profile.city">
                                </div>
                            </div>

                            <div class="column">
                                <div class="field">
                                    <label> State of Residence </label>
                                    <div id="state" class="ui search">
                                        <div class="ui input">
                                            <input class="prompt" type="text" name="state" ng-model="user.profile.state">
                                        </div>
                                        <div class="results"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <small>Due to legal restrictions, we are unable to accept international students.</small>
                    <br />

                    <div class="field">
                        <label>Gender</label>
                        <select name="gender" ng-model="user.profile.gender">
                            <option value="" disabled>Gender</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="O">Other</option>
                            <option value="N">I prefer not to answer.</option>
                        </select>
                    </div>

                    <div class="field">
                        <label>
                            If accepted, will McDonogh Hacks I be your first hackathon?
                        </label>
                        <div class="ui checkbox">
                            <input type="checkbox" ng-model="user.profile.firstHackathon">
                            <label> Yes, McDonogh Hacks I will be my first hackathon. </label>
                        </div>
                    </div>

                    <div class="field">
                        <label>
                            Do you have your own laptop?
                        </label>
                        <div class="ui checkbox">
                            <input type="checkbox" ng-model="user.profile.hasLaptop">
                            <label> Yes, I have my own laptop and will be able to bring it to the event. </label>
                        </div>
                    </div>

                    <div class="field">
                        <label>
                            Does your school offer computer science classes/programs?
                        </label>
                        <div class="ui checkbox">
                            <input type="checkbox" ng-model="user.profile.csAvailable">
                            <label> Yes, my school offers at least 1 computer science or related course. </label>
                        </div>

                        <div class="ui checkbox">
                            <input type="checkbox" ng-model="user.profile.csEnrolled">
                            <label> Yes, I am enrolled in a computer science or related course. </label>
                        </div>
                    </div>

                    <br />
                    <div class="divided title">Application Questions</div>

                    <div class="field">
                        <label>I would describe myself as a...</label>
                        <input type="text" name="description" placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire"
                            ng-model="user.profile.description">
                    </div>

                    <div class="field">
                        <label>
                            Anything interesting about you that you would like us to know about?<br />
                        </label>
                        <textarea type="text" name="funFact" ng-model="user.profile.funFact">
              </textarea>
                    </div>

                    <br />
                    <div class="divided title">Almost there...</div>

                    <p>Note that your application will be manually reviewed by McDonogh Hacks organizers. We'll be
                        following up
                        about the status of your application, so <strong>please expect an email from us very soon</strong>!
                        You may
                        be required to
                        provide additional information in an application confirmation form.</p>
                    <p><strong>By submitting the application, you agree to the <a href="https://www.mcdonogh.org/privacy-policy"
                                target="_blank">McDonogh
                                School Privacy Policy</a>.</strong></p>
                    <div class="field" ng-hide="regIsClosed">
                        <button type="submit" class="fluid ui right labeled icon green button" ng-click="submitForm()">
                            Submit Application
                            <i class="checkmark icon"></i>
                        </button>
                    </div>

                </fieldset>
            </div>
        </div>
    </div>
</div>