<div class="ui stackable page grid">
    <div class="column">
        <br />
        <div class="divided title small">Icon Key</div>
        <table style="border-collapse: separate; border-spacing: 20px;">
            <tr>
                <td><code>V/S/A/C</code></td>
                <td>Verified / Submitted (Application) / Admitted / Confirmed</td>
            </tr>

            <tr>
                <td><i class="pencil icon"></i></td>
                <td>Edit student information</td>
            </tr>

            <tr>
                <td><i class="heart outline icon"></i></td>
                <td>Admit student</td>
            </tr>

            <tr>
                <td><i class="green heart icon"></i></td>
                <td>Student is already admitted</td>
            </tr>

            <tr>
                <td><i class="check icon"></i></td>
                <td>Check in student</td>
            </tr>

            <tr>
                <td><i class="green check icon"></i></td>
                <td>Student is already checked in</td>
            </tr>
        </table>
    </div>
</div>