<div class="ui top attached segment">

  <div class="ui header">
    {{selectedUser.profile.name ? selectedUser.profile.name : selectedUser.email}}
    <span ng-show="selectedUser.admin">
      (Admin)
    </span>

    &nbsp;
    <span class="ui label" style="margin: 0">
      {{selectedUser.status.name.toUpperCase()}}
    </span>
  </div>

</div>

<div class="ui botom attached segment">

  <div>
    <div class="ui red message">
      <p style="font-weight: bold">Warning: modification of information is NOT revertable. Please be very careful when
        making changes to a student's information.</p>
      <p>If you encountered an error while fetching/updating student information, please contact <a href="mailto:mingjie@mcdonoghhacks.org">Mingjie
          Jiang</a>.</p>
    </div>

    <p>
      <strong> Admitted by: </strong> {{selectedUser.status.admittedBy ? selectedUser.status.admittedBy : 'N/A'}}
    </p>
    <div class="field">
      <strong>
        Created on:
      </strong>
      {{formatTime(selectedUser.timestamp)}}&nbsp;/&nbsp;
      <strong>
        Last Updated:
      </strong>
      {{formatTime(selectedUser.lastUpdated)}}
    </div>
  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
        Profile
      </div>

      <div class="field">
        <label> Email </label>
        <input type="email" name="email" disabled="disabled" ng-model="selectedUser.email">
      </div>

      <div class="field">
        <label> Full Name </label>
        <input type="text" name="name" ng-model="selectedUser.profile.name">
      </div>

      <div class="field" ng-show="!autoFilledSchool">
        <label> School </label>
        <input class="ui input" name="school" ng-model="selectedUser.profile.school">
      </div>

      <div class="field">
        <label>Graduation Year</label>
        <select name="year" ng-model="selectedUser.profile.graduationYear">
          <option value="" disabled>Graduation Year</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
        </select>
      </div>

      <div class="ui divider"></div>
      <div class="ui header">
        Demographic Information
      </div>

      <div class="ui grid">
        <div class="two column row">
          <div class="column">
            <div class="field">
              <label> City of Residence </label>
              <input type="text" name="city" ng-model="selectedUser.profile.city">
            </div>
          </div>

          <div class="column">
            <div class="field">
              <label> State of Residence </label>
              <div id="state" class="ui search">
                <div class="ui input">
                  <input class="prompt" type="text" name="state" ng-model="selectedUser.profile.state">
                </div>
                <div class="results"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />

      <div class="field">
        <label>Gender</label>
        <select name="gender" ng-model="selectedUser.profile.gender">
          <option value="" disabled>Gender</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="O">Other</option>
          <option value="N">I prefer not to answer.</option>
        </select>
      </div>

      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" ng-model="selectedUser.profile.firstHackathon">
          <label> First-time hackathon attendee. </label>
        </div>
      </div>

      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" ng-model="selectedUser.profile.hasLaptop">
          <label> Laptop available. </label>
        </div>
      </div>

      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" ng-model="selectedUser.profile.csAvailable">
          <label> School offers at least 1 computer science or related course. </label>
        </div>
        <br />
        <div class="ui checkbox">
          <input type="checkbox" ng-model="selectedUser.profile.csEnrolled">
          <label> Currently enrolled in a computer science or related course. </label>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="ui header">
        Application Questions
      </div>

      <div class="field">
        <label>I would describe myself as a...</label>
        <input type="text" placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire" ng-model="selectedUser.profile.description">
      </div>

      <div class="field">
        <label>
          Anything interesting about you that you would like us to know about?<br />
        </label>
        <textarea ng-model="selectedUser.profile.funFact">
</textarea>
      </div>

    </fieldset>
  </div>

  <div class="ui divider"></div>

  <div class="ui form">

    <fieldset ng-disabled="false">

      <div class="ui header">
        Confirmation
      </div>

      <div class="field">
        <label> Phone </label>
        <input type="tel" name="phone" ng-model="selectedUser.confirmation.phoneNumber">
      </div>

      <div class="field">
        <label> Dietary Restrictions </label>
      </div>

      <div class="inline fields">
        <div class="field" ng-repeat="(key, value) in dietaryRestrictions">

          <div class="ui checkbox">
            <input type="checkbox" ng-model="dietaryRestrictions[key]" />
            <label>{{key}}</label>
          </div>

        </div>
      </div>
      <div class="field">
        <label> Shirt Size </label>
        <select name="shirt" ng-model="selectedUser.confirmation.shirtSize" required>
          <option value="" disabled>Shirt Size</option>
          <option value="XS">Unisex X-Small</option>
          <option value="S">Unisex Small</option>
          <option value="M">Unisex Medium</option>
          <option value="L">Unisex Large</option>
          <option value="XL">Unisex X-Large</option>
          <option value="XXL">Unisex XX-Large</option>
        </select>
      </div>

      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" ng-model="selectedUser.confirmation.needsTransportation">
          <label> Will be needing bus transportation services. </label>
        </div>
      </div>

      <div class="ui message" ng-show="selectedUser.confirmation.needsTransportation">

        <div class="ui header">
          Pick-up Address
        </div>

        <div class="field">
          <label> Address Line 1</label>
          <input type="text" name="addressLine1" ng-model="selectedUser.confirmation.address.line1">
        </div>

        <div class="field">
          <label> Address Line 2</label>
          <input type="text" name="addressLine2" ng-model="selectedUser.confirmation.address.line2">
        </div>

        <div class="two fields">
          <div class="field">
            <label> City </label>
            <input type="text" name="city" ng-model="selectedUser.confirmation.address.city">
          </div>
          <div class="field">
            <label> ZIP </label>
            <input type="text" name="zip" ng-model="selectedUser.confirmation.address.zip">
          </div>
        </div>

      </div>

      <div class="ui divider"></div>

      <div class="ui header">
        Legal
      </div>

      <div class="field">
        <label> Waiver Signed By </label>
        <input type="text" name="signatureWaiver" placeholder="Full Legal Name of Attendee/Parent/Guardian (Whichever Applies)"
          ng-model="selectedUser.confirmation.signatureWaiver">
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" ng-model="selectedUser.confirmation.waiverSignedByAdult">
          <label> Waiver signed on behalf of my student, who is under the legal age of 18. </label>
        </div>
      </div>

      <div class="ui divider"></div>

      <div class="ui header">
        Emergency Medical Information
      </div>

      <p><strong>Emergency Primary Contact (Required)</strong></p>
      <div class="three fields">
        <div class="field">
          <label> Name </label>
          <input type="text" name="emergencyContactName1" ng-model="selectedUser.confirmation.emergency.primary.name">
        </div>
        <div class="field">
          <label> Relationship </label>
          <input type="text" name="emergencyContactRel1" ng-model="selectedUser.confirmation.emergency.primary.relationship"
            placeholder="Mother/Father/etc.">
        </div>
        <div class="field">
          <label> Phone </label>
          <input type="tel" name="emergencyContactPhone1" ng-model="selectedUser.confirmation.emergency.primary.phone"
            placeholder="(123) - 555 - 1234">
        </div>
      </div>


      <p><strong>Emergency Secondary Contact</strong></p>
      <div class="three fields">
        <div class="field">
          <label> Name </label>
          <input type="text" name="emergencyContactName2" ng-model="selectedUser.confirmation.emergency.secondary.name">
        </div>
        <div class="field">
          <label> Relationship </label>
          <input type="text" name="emergencyContactRel2" ng-model="selectedUser.confirmation.emergency.secondary.relationship"
            placeholder="Mother/Father/etc.">
        </div>
        <div class="field">
          <label> Phone </label>
          <input type="tel" name="emergencyContactPhone2" ng-model="selectedUser.confirmation.emergency.secondary.phone"
            placeholder="(123) - 555 - 1234">
        </div>
      </div>

      <div class="field">
        <label>
          Medical Considerations (e.g., allergies, etc.)
        </label>
        <textarea ng-model="selectedUser.confirmation.emergency.medCons"></textarea>
      </div>

      <div class="ui divider"></div>

      <div class="ui header">
        Additional
      </div>

      <div class="field">
        <label>
          Additional Notes (Student)
        </label>
        <textarea ng-model="user.confirmation.notes"></textarea>
      </div>

      <div class="field">
          <label>
            Additional Notes (Staff)
          </label>
          <textarea ng-model="user.confirmation.staffNotes"></textarea>
        </div>


      <div class="field" style="position: fixed; right: 10px; bottom: 10px;">
        <div ng-click="updateProfile()" class="ui positive right labeled icon button">
          Update Profile
          <i class="checkmark icon"></i>
        </div>
      </div>

  </div>
</div>